<div class="row">
  <div class="col-md-12">
    <img 
      [src]="recipe.imagePath" 
      alt="{{ recipe.name }}" 
      class="img-responsive"
      style="max-height: 300px">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="recipeDetailDropdown" ngbDropdownToggle>Manage Recipe</button>
      <div ngbDropdownMenu aria-labelledby="recipeDetailDropdown">
        <button class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</button>
        <button class="dropdown-item">Edit Recipe</button>
        <button class="dropdown-item">Delete Recipe</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients"> 
          {{ ingredient.name }} - {{ ingredient.amount }}</li>
      </ul>
    </div>
</div>
