<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-3">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/recipes" class="nav-link">Recipes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/shopping-list" class="nav-link">Shopping List</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">

        <ng-template [ngIf]="!(authState | async).authenticated">
          <li class="navbar-item">
            <a routerLink="/signup" class="nav-link">Register</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/signin" class="nav-link">Login</a>
          </li>
        </ng-template>

        <li class="navbar-item" *ngIf="(authState | async).authenticated">
          <a style="cursor: pointer;" class="nav-link" (click)="onLogout()">Log Out</a>
        </li>

        <li class="navbar-item" *ngIf="(authState | async).authenticated">
          <div ngbDropdown placement="bottom-right">
            <a id="manageDropdown" ngbDropdownToggle class="nav-link" style="cursor: pointer">Manage</a>
            <div ngbDropdownMenu aria-labelledby="manageDropdown">
              <a class="dropdown-item" style="cursor: pointer" (click)="onSaveData()">Save data</a>
              <a class="dropdown-item" style="cursor: pointer" (click)="onFetchData()">Fetch data</a>
            </div>
          </div>
        </li>

      </ul>
    </div>

  </div>
</nav>